@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('images/space.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  user-select: none;
}

.content-wrap {
  @apply max-w-sm flex flex-col items-center justify-center w-full h-screen px-8;
}

.button {
  @apply w-full py-2 px-12 rounded;
}
