@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('images/space.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  user-select: none;
}

.content-wrap {
  @apply max-w-sm flex flex-col items-center justify-center w-screen h-screen px-8;
}

.button {
  @apply w-full flex items-center justify-center py-2 px-12 mb-3 rounded;
}

.login-input {
  @apply w-full px-2 py-1 border-solid border-2 rounded text-neutral-900 mb-4;
}
